
    $purple    : #7B47FF;
    $blue      : #0571FF;
    $bluelgt   : #415CF2;
    $yellow    : #FFAB0F;
    $white     : #fff;
    
    $positive  : #21BA45;
    $negative  : #C10015;
    $info      : #31CCEC;
    $warning   : #F2C037;


